<div class="unauthorized-container">
  <i class="pi pi-lock unauthorized-icon"></i>
  <h1>Acceso Denegado</h1>
  <p>No tienes los permisos necesarios para acceder a esta seccion</p>
  <p>Si crees que esto es un error, por favor contacta al administrador del sistema.</p>
  <p-button
    type="button"
    [text]="true"
    styleClass="color: black; cursor: pointer; text-decoration: none; font-weight: 500; transition: opacity 0.2s;"
    routerLinkActive="/login" class="unauthorized-link">
    Volver al inicio
  </p-button>
</div>
