<section class="page-shell">
  <div class="page-header">
    <div>
      <h2>Gestión de Pacientes</h2>
    </div>

    <p-button
      label="Nuevo Paciente"
      icon="pi pi-plus"
      styleClass="text-xl"
      (onClick)="createPatient()"
    >
    </p-button>
  </div>

    <app-table-generic
      [title]="'Listado'"
      [data]="patients"
      [columns]="columns"
      [actions]="actions"
      [lazy]="true"
      [totalRecords]="totalRecords"
      emptyMessage="No hay pacientes disponibles"
      formWidth="full"
      fontSize="md"
      (tableStateChange)="onTableChange($event)"
      (onView)="viewPatient($event)"
      (onEdit)="editPatient($event)"
      (onHistory)="viewHistory($event)"
      (onDelete)="deletePatient($event)">
    </app-table-generic>

</section>
