<div class="app-shell">

  <aside
    class="sidebar"
    [class.expanded]="sidebarExpanded"
    (mouseenter)="sidebarExpanded = true"
    (mouseleave)="sidebarExpanded = false">

          <div class="brand-block">
<!--            <img-->
<!--              ngSrc="/images/LogoNutriCentro.jpg"-->
<!--              alt="NutriCentro"-->
<!--              class="brand-logo"-->
<!--              height="432"-->
<!--              width="432"-->
<!--            >-->
            <span class="drawer-brand">Nutri Centro</span>
          </div>

        <div class="menu-panel">
          <ul class="list-none p-2 m-0">

          <!-- MENU -->
            @if (isAdmin()) {
              <li>
                <a
                  pRipple
                  routerLink="/dashboard"
                  class="menu-item flex items-center gap-3 p-4 cursor-pointer no-underline">
                  <i class="pi pi-home"></i>
                  @if(sidebarExpanded){
                    <span>Inicio</span>
                  }
                </a>
              </li>
            }

            <!-- USUARIOS -->
            @if (isAdmin()) {
              <li>
                <a
                  pRipple
                  (click)="toggleMenu('users')"
                  class="menu-item flex items-center gap-3 p-4 cursor-pointer no-underline">
                  <i class="pi pi-user-plus"></i>
                  @if(sidebarExpanded){
                    <span>Gestión de usuarios</span>
                  }
                  @if(sidebarExpanded){
                    <i [class]="openedMenu === 'users' ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                  }
<!--                  <i [class]="openedMenu === 'users' ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>-->
                </a>
              </li>
            }

            @if(sidebarExpanded && openedMenu === 'users'){
              <ul class="submenu">
                <li>
                  <a
                    pRipple
                    routerLink="/users"
                    class="submenu-item">
                    <i class="pi pi-list"></i>
                    <span>Listado de usuarios</span>
                  </a>
                </li>

                <li>
                  <a
                    pRipple
                    routerLink="/users/create"
                    class="submenu-item">
                    <i class="pi pi-user-plus"></i>
                    <span>Crear usuario</span>
                  </a>
                </li>
              </ul>
            }

            <!-- PROFESIONALES -->
            @if (isAdmin()) {
              <li>
                <a
                  pRipple
                  (click)="toggleMenu('professional')"
                  class="menu-item flex items-center gap-3 p-4 cursor-pointer no-underline">
                  <i class="pi pi-calendar"></i>
                  @if(sidebarExpanded){
                    <span>Gestión de profesionales</span>
                  }

                  <i [class]="openedMenu === 'professional' ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
              </li>
            }
            @if(sidebarExpanded && openedMenu === 'professional'){
              <ul class="submenu">
                <li>
                  <a
                    pRipple
                    routerLink="/professional"
                    class="submenu-item">
                    <i class="pi pi-list"></i>
                    <span>Listado de profesionales</span>
                  </a>
                </li>

                <li>
                  <a
                    pRipple
                    routerLink="/professional/create"
                    class="submenu-item">
                    <i class="pi pi-user-plus"></i>
                    <span>Crear profesional</span>
                  </a>
                </li>
              </ul>
            }

            <!-- PACIENTES -->
            @if (isAdmin() || isSecretary() || isProfessional()) {
              <li>
                <a
                  pRipple
                  (click)="toggleMenu('patient')"
                  class="menu-item flex items-center gap-3 p-4 cursor-pointer no-underline">
                  <i class="pi pi-users"></i>
                  @if (sidebarExpanded) {
                    <span>{{ isProfessional() && !isAdmin() && !isSecretary() ? 'Pacientes' : 'Gestión de pacientes' }}</span>
                  }

                <i [class]="openedMenu === 'patient' ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
              </li>
            }

            @if(sidebarExpanded && openedMenu === 'patient'){
              <ul class="submenu">
                <li>
                  <a
                    pRipple
                    routerLink="/patient"
                    class="submenu-item">
                    <i class="pi pi-list"></i>
                    <span>Listado de pacientes</span>
                  </a>
                </li>

                <li>
                  <a
                    pRipple
                    routerLink="/patient/create"
                    class="submenu-item">
                    <i class="pi pi-user-plus"></i>
                    <span>Crear paciente</span>
                  </a>
                </li>
              </ul>
            }

            <!-- TURNOS -->
            @if (isAdmin() || isSecretary() || isProfessional()) {
              <li>
                <a
                  pRipple
                  (click)="toggleMenu('agenda')"
                  class="menu-item flex items-center gap-3 p-4 cursor-pointer no-underline">
                  <i class="pi pi-calendar"></i>
                  @if (sidebarExpanded) {
                    <span>{{ isProfessional() && !isAdmin() && !isSecretary() ? 'Turnos' : 'Agenda de turnos' }}</span>

                  }
                </a>
              </li>
            }

            <!-- HISTORIAL CLINICO -->
            @if (isAdmin() || isProfessional()) {
              <li>
                <a
                  pRipple
                  (click)="toggleMenu('history')"
                  class="menu-item flex items-center gap-3 p-4 cursor-pointer no-underline">
                  <i class="pi pi-file-edit"></i>
                  @if(sidebarExpanded){
                    <span>Historial clínico</span>
                  }
                </a>
              </li>
            }

            <!-- CONFIGURACIONES - ESPECIALIDADES -->
            @if (isAdmin()) {
              <li>
                <a
                  pRipple
                  (click)="toggleMenu('specialty')"
                  class="menu-item flex items-center gap-3 p-4 cursor-pointer no-underline">
                  <i class="pi pi-cog"></i>
                  @if(sidebarExpanded){
                    <span>Configuraciones</span>
                  }

                  <i [class]="openedMenu === 'specialty' ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
              </li>
            }
            @if(sidebarExpanded && openedMenu === 'specialty'){
              <ul class="submenu">
                <li>
                  <a
                    pRipple
                    routerLink="/specialty"
                    class="submenu-item">
                    <i class="pi pi-list"></i>
                    <span>Listado de especialidades</span>
                  </a>
                </li>

                <li>
                  <a
                    pRipple
                    routerLink="/specialty/create"
                    class="submenu-item">
                    <i class="pi pi-cog"></i>
                    <span>Crear especialidad</span>
                  </a>
                </li>
              </ul>
            }
          </ul>
        </div>

        <div class="logout-panel">
          <a pRipple (click)="logout()" class="menu-item logout-item">
            <i class="pi pi-sign-out"></i>
            @if(sidebarExpanded){
              <span>Cerrar sesión</span>
            }
          </a>
        </div>
  </aside>

  <!--  top bar -->
  <div class="content-wrapper">

    <div class="topbar">
      <span class="username">{{getFullName()}}</span>
    </div>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
